<h1>Editing Group</h1>

<%= render 'form', group: @group %>

<br />

<%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Show'), @group, class: "btn btn-warning" %>

<br />
<br />

<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back'), groups_path, class: "btn btn-info" %>
