<h1>Editing User</h1>

<%= render 'form', user: @user %>

<br />

<%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Show'), @user, class: "btn btn-warning" %>

<br />
<br />

<%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back'), users_path, class: "btn btn-info" %>
